[submodule "4/lu_william"]
	path = 4/lu_william
	url = https://github.com/WilliamLu0211/SystemHW.git
[submodule "5/galakhov_ivan"]
	path = 5/galakhov_ivan
	url = https://github.com/igalakhov/Systems_Work01.git
[submodule "5/wang_lynne"]
	path = 5/wang_lynne
	url = https://github.com/ennylgnaw/HW1.git
[submodule "4/liu"]
	path = 4/liu
	url = https://github.com/foreversteve/Work01.git
[submodule "4/liu_steven"]
	path = 4/liu_steven
	url = https://github.com/foreversteve/Work01.git
