[submodule "4/lu_william"]
	path = 4/lu_william
	url = https://github.com/WilliamLu0211/SystemHW.git
[submodule "5/galakhov_ivan"]
	path = 5/galakhov_ivan
	url = https://github.com/igalakhov/Systems_Work01.git
[submodule "5/wang_lynne"]
	path = 5/wang_lynne
	url = https://github.com/ennylgnaw/HW1.git
[submodule "4/liu"]
	path = 4/liu
	url = https://github.com/foreversteve/Work01.git
[submodule "4/liu_steven"]
	path = 4/liu_steven
	url = https://github.com/foreversteve/Work01.git
[submodule "4/systems18"]
	path = 4/systems18
	url = https://github.com/meredeath/systems18.git
[submodule "4/hu_meredith"]
	path = 4/hu_meredith
	url = https://github.com/meredeath/systems18.git
[submodule "4/zhang_ivan"]
	path = 4/zhang_ivan
	url = https://github.com/ivzhang1/syslvldeviz
[submodule "4/simon_berens"]
	path = 4/berens_simon
	url = https://github.com/SimonBerens/Systems18.git
[submodule "5/lin_victor"]
	path = 5/lin_victor
	url = https://github.com/victorlin7534/Hw-1.git
[submodule "jamil_mohammed"]
	path = jamil_mohammed
	url = https://github.com/Zer0-M/MKS65.git
[submodule "4/jamil_mohammed"]
	path = 4/jamil_mohammed
	url = https://github.com/Zer0-M/MKS65.git
[submodule "4/tan_stefan"]
	path = 4/tan_stefan
	url = https://github.com/StefanTan18/Work01.git
[submodule "4/kendall_matthew"]
	path = 4/kendall_matthew
	url = git@github.com:MKendall17/systems18.git
